/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

h1 {
	color: red;
}

body {
	
	font-size: 40px;
}

img {
	max-width: auto;
	max-height: 350px;
}
.bottom-cards {
	position:fixed;
	bottom:95px;
	text-align: center;
	width: 80%;
}
.about a {
	font-color: #800000;
}
.about {
	position:fixed;
	bottom:7px;
	right: 45px;
	color: #000;
}

.card {
	width: 50px;
	height: 50px;
	background-color: #3c90E6;
	border: medium groove black;
	margin: 5px;
	padding: 10px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 20px;
	font-style: arial-black;
	text-decoration: none;
	
}

a {
	text-decoration: none;
}
.description {
	height: 560px;
	overflow: auto;
}